{{#each data}}
<div class="card">
    <a href="{{getFlower this.id}}"> <img src="{{this.img}}" alt="Avatar" />
        <div class="container">
            <h4><b>{{this.name}}</b></h4>
        </div>
    </a>
</div>
{{/each }}